body {
    margin: 0;
    padding-top: 40px;
    font-family: PT mono, monospace;
    overflow: visible;
}

.about{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #92b4cd;
    color: #000000;    
}

.credit{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #92b4cd;
    color: #000000;
}

.external-credits{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #92b4cd;
    color: #000000;
}

.ig{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    background-color: #92b4cd;
    color: #000000;
}

.title {
    position: absolute;
    left: 30vh;
    top: 8vh;
    width: 70vw;
    display: block;
}

.btn{
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 180px;
    border-radius: 50px;
    padding: 2px 10px;
    cursor: pointer;
}

.start{
    background-color: #92b4cd;
    border: 2px dashed #1897d6;
    outline: 2px solid #ffffff;
    outline-offset: -4px;
}

.stop{
    color: #ebeae2;
    background-color: #876b67;
    border: 2px dashed #452d2a;
    outline: 2px solid #ffffff;
    outline-offset: -4px;
}

#invasion{
    background-color: #a0b968;
    border: 2px dashed #876b67;
    display: inline-block;
    position: absolute;
    padding: 2px;
    left: 80px;
    top: 220px;
    border-radius: 50px;
    padding: 2px 10px;
    cursor: pointer;
}

#shuffle{
    background-color: #1897d6;
    border: 2px solid #876b67;
    display: inline-block;
    position: absolute;
    padding: 2px;
    left: 80px;
    top: 260px;
    border-radius: 50px;
    padding: 2px 10px;
    cursor: pointer; 
}

#video {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
}

details{
    position: absolute;
    left: 4vw;
    top: 30vh;
    width: 34vw;
    overflow: visible;
    z-index: 1;
    padding: 10px;

}

#escala{
    top: 84vh;
    left: 42vh;
}

#nosotros{
    top: 84vh;
    left: 126vh;
    padding-top: 12px;
}

details summary{
    list-style: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    color: #92b4cd;
}

details p{
    margin: 8px 30px;
}

details[open]{
    z-index: 10;
}

#escala .content {
    position: absolute;
    bottom: 100%;
    left: -20%;
    color: #ffffff;
}

#escala .content p{
    width: 700px;
}

.escala-img{
    width: 300px;
    border: 6px dotted #92b4cd;
    position: absolute;
    right: -20vw;
    bottom: 200%;
}

.details-credit{
    text-transform: uppercase;
    color: #a0b968;
    font-size: 14px;
    position: absolute;
    right: 2vw;
    bottom: 60%;
}

#nosotros .content-nosotros{
    position: absolute;
    bottom: 100%;
    right: 20vw;
    width: 50vw;
}

.content, .content-nosotros{
    position: relative;
    overflow: visible;
}

.content-nosotros{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.content-bg {
    position: absolute;
    top: 55%;
    left: 12%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: radial-gradient(circle, rgba(146, 180, 205, 1) 0%, transparent 50%);
    filter: blur(40px);
    z-index: -1
}

.content-bg-2 {
    position: absolute;
    top: 60%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: radial-gradient(circle, rgba(160, 185, 104, 1) 0%, transparent 50%);
    filter: blur(40px);
    z-index: -1
}

.nosotros-item {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 10px);
}


.nosotros-num-1 {
    background-color: #1897d6;
    border: 4px solid #876b67;
    outline: 2px solid #ffffff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nosotros-num-2 {
    background-color:#876b67;
    border: 4px solid #92b4cd;
    outline: 2px solid #ffffff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros-num-3 {
    background-color: #92b4cd;
    border: 4px solid #ffffff;
    outline: 2px solid #a0b968;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros-num-4 {
    background-color: #a0b968;
    border: 4px solid #92b4cd;
    outline: 2px solid #ffffff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nosotros-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: drop-shadow(4px 0px 8px rgba(0,0,0,0.8));
}